$height : 50px;
.header {
    background-color: #272729;
    color: white;
    height: $height;
    width: 100%;
    ul {
        margin: 0px;
    }
}


img.logo {
    width: 50px;
    margin: auto;
}


