.Mall {
    ul {
        padding: 20px 60px;
        li {
            width: 200px;
            padding: 10px;
            border:solid 1px;
            border-radius: 5px;
            img {
                width:150px;
                height:200px;
            }
        }
    }
}